<label for="name">Powiat: </label>
<input id="name" type="text" [formControl]="name" />
<label for="name">Gmina: </label>
<input id="name" type="text" [formControl]="name" />
<label for="name">Nazwa: </label>
<input id="name" type="text" [formControl]="name" />
<label for="name">Kategoria: </label>
<input id="name" type="text" [formControl]="name" />
<label for="name">Data znalezienia: </label>
<input id="name" type="text" [formControl]="name" />
<label for="name">Opis miejsca: </label>
<input id="name" type="text" [formControl]="name" />
<label for="name">Biuro kontaktowe: </label>
<input id="name" type="text" [formControl]="name" />
<label for="name">Opublikowano: </label>
<input id="name" type="text" [formControl]="name" />
