@import 'src/scss/base/_variables.scss';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss';

.logo-eu {
  img {
    display: none;
  }

  .contrast-normal {
    display: block;
  }
}

.black-yellow,
.black-white,
.yellow-black {
  .logo-eu {
    img {
      display: none;
    }
  }
}

.black-yellow {
  .logo-eu {
    img.contrast-black-yellow {
      display: block;
    }
  }
}

.black-white {
  .logo-eu {
    img.contrast-black-white {
      display: block;
    }
  }
}

.yellow-black {
  .logo-eu {
    img.contrast-yellow-black {
      display: block;
    }
  }
}

.expandable-menu {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.expanded-section {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.dropdown-menu {
  padding: 0;
  margin-top: 8px;
  &.black-white {
    background-color: black;
    border: 1px solid white;

    .dropdown-item {
      color: white;
      &:hover {
        color: black;
      }
      &.active {
        color: black;
      }
    }
  }
  &.black-yellow {
    background-color: black;
    border: 1px solid $color-yellow;
    .dropdown-item {
      color: $color-yellow;
      &:hover {
        color: black;
      }
      &.active {
        color: black;
      }
    }
  }
  &.yellow-black {
    background-color: $color-yellow;
    border: 1px solid black;
    .dropdown-item {
      color: black;
      &:hover {
        color: $color-yellow;
      }
      &.active {
        color: $color-yellow;
      }
    }
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
  right: 0;
  left: auto;
  margin-top: 0;
}

.dropdown-item {
  padding: 5px 16px;
  font-size: 1.125rem;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    &.active {
      color: white;
    }
  }
  &.active {
    background-color: $primary;
  }
}

.dropdown-menu-toggle {
  width: 20px;
  height: 15px;
  margin-left: 5px;
  fill: black;
}

.dropdown-button {
  display: inline-flex !important;
}

.add-item-wrapper {
  background-color: white;
  padding: 10px;
  border: 1px solid #000000;
  position: relative;
  z-index: 10;
  max-width: 450px;
  margin: 20px auto;
}

.step-container {
  text-align: center;
  margin: 20px 0;
}

.login-form-container {
  text-align: center;
  padding: 1rem;

  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1.5rem;
    color: #666;
  }
}

.login-input {
  display: block;
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.login-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 0.5rem;

  button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.2s;

    &.btn-cancel {
      background-color: #6c757d;
      color: white;
      &:hover {
        background-color: #5a6268;
      }
    }

    &.btn-login {
      background-color: #007bff;
      color: white;
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
